.DS_Store
.vs/
.vscode/
addons/
bin/*.dll
bin/*.so
bin/data/exportimgs/*
bin/data/rgba2yuv/
bin/data/settings.xml
bin/data/video/*
bin/data/yuv2rgba/
bin/Guipper
bin/guipper
bin/guipper_debug
bin/guipper_debug.*
bin/guipper_debug.app/
bin/guipper.*
bin/guipper.app/
obj/
bin/data/uishots/*
bin/data/groups/
bin/data/shader_favorites.xml
tests/audio_core_tests
tests/audio_core_tests_tsan
tests/media_core_tests
tests/media_core_tests_tsan
tests/paint_core_tests
tests/paint_core_tests_tsan
bin/data/paint_palette.xml
