<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleIdentifier</key><string>cc.guipper.audio-test</string>
    <key>CFBundleExecutable</key><string>GuipperAudioTest</string>
    <key>CFBundleName</key><string>GuipperAudioTest</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>NSAudioCaptureUsageDescription</key><string>Verify Guipper output audio capture.</string>
</dict></plist>
